<span class="comment pointer-events-none absolute bottom-[110%] left-[2%] max-w-[92%] rounded-md border-[0.1em] border-[#b5b5b5] bg-[#1f1f1f] p-1.5 leading-[1.25em] text-wrap text-[#b5b5b5] opacity-0 transition-opacity delay-200 duration-200 group-hover:pointer-events-auto group-hover:opacity-100 hover:border-[#179fff]"><%- text %></span>
