<span class="group relative block outline-[0.1rem] outline-transparent hover:bg-[#ffffff03] hover:outline-[#303030]">
  <span class="absolute right-[calc(100%+0.6em)] text-[#6e7681]"><%= order %></span>
  <span class="line text-wrap"><%- children %></span>
  <%if(typeof Comment!=="undefined"){%> <%- Comment %> <%}%>
</span>
