@import "tailwindcss";

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
}

@layer utilities {
  .scrollbar-none {
    --ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color, transparent);
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color, transparent);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }

  .fullscreen\:p-\[var\(--space\)\]:fullscreen {
    padding: var(--space);
  }
  .fullscreen\:bg-linear-\[\#2e334f_0\%\,_\#4f547d_100\%\]:fullscreen {
    --tw-gradient-position: #2e334f 0%, #4f547d 100%;
    background-image: linear-gradient(var(--tw-gradient-stops, #2e334f 0%, #4f547d 100%));
  }

  .spin-button-hidden::-webkit-inner-spin-button,
  .spin-button-hidden::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .spin-button-hidden {
    appearance: textfield;
  }
}
