.mtk0 {
  color: #6e7681;
}

.mtk0.small {
  font-size: 0.8em;
}

.mtk1 {
  color: #cccccc;
}

.mtk3 {
  color: #d4d4d4;
}

.mtk5 {
  color: #6a9955;
}

.mtk6 {
  color: #569cd6;
}

.mtk7 {
  color: #b5cea8;
}

.mtk10 {
  color: #9cdcfe;
}

.mtk12 {
  color: #ce9178;
}

.mtk16 {
  color: #dcdcaa;
}

.mtk17 {
  color: #4ec9b0;
}

.mtk18 {
  color: #c586c0;
}

.mtk19 {
  color: #4fc1ff;
}

.bracket-highlighting-0,
.bracket-highlighting-3,
.bracket-highlighting-6 {
  color: #ffd700;
}

.bracket-highlighting-1,
.bracket-highlighting-4 {
  color: #da70d6;
}

.bracket-highlighting-2,
.bracket-highlighting-5 {
  color: #179fff;
}
